*.iml
.idea

.kotlin
.gradle

local.properties

**/build/
!src/**/build/
captures
.externalNativeBuild
.cxx

.DS_Store
xcuserdata

*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
**/*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

composeApp/release/
